<a href="https://colab.research.google.com/github/sweetcide/AI_study/blob/main/%EC%84%9C%EC%97%B0_1%EC%A3%BC%EC%B0%A8_%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

###page39

In [6]:
print('# 하나만 출력합니다.')
print('Hello Python Programming...!')
print()

print('# 여러개를 출력합니다.')
print(10,20,30,40,50)
print("안녕하세요","저의","이름은","이서연입니다!")
print()

print('# 아무것도 출력하지 않습니다')
print("--확인 전용선--")
print()
print()
print("--확인 전용선--")

# 하나만 출력합니다.
Hello Python Programming...!

# 여러개를 출력합니다.
10 20 30 40 50
안녕하세요 저의 이름은 이서연입니다!

# 아무것도 출력하지 않습니다
--확인 전용선--


--확인 전용선--

###page53

In [10]:
print("이름\t나이\t지역")
print("이서연\t24\t화성")
print("짱구\t5\t도쿄")
print("서연\t5\t수원")

이름	나이	지역
이서연	24	화성
짱구	5	도쿄
서연	5	수원

In [11]:
print("""
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산
대한사람 대한으로 길이 보전하세
""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산
대한사람 대한으로 길이 보전하세

###page57

In [12]:
print("문자 선택 연산자에 대해 알아볼까요?")
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])

문자 선택 연산자에 대해 알아볼까요?
안
녕
하
세
요

###page58

In [14]:
print("문자를 뒤에서부터 선택해 볼까요?")
print("안녕하세요"[-1])
print("안녕하세요"[-2])
print("안녕하세요"[-3])
print("안녕하세요"[-4])
print("안녕하세요"[-5])

문자를 뒤에서부터 선택해 볼까요?
요
세
하
녕
안

###page77

In [25]:
pi = 3.14159265
r = 10

print("원주율 :", pi)
print("지름 :", r)
print("원의 둘레 :", 2*pi*r)
print("원의 넓이 :", pi*r*r)

원주율 : 3.14159265
지름 : 10
원의 둘레 : 62.831853
원의 넓이 : 314.159265

###page82

In [30]:
string = input("입력 >")

입력 >하하하

In [31]:
print(string)

하하하

In [32]:
print(type(string))

<class 'str'>

In [33]:
print("입력 + 100 >",string+100)

TypeError: ignored

###page83

In [46]:
string_a = input("입력 >")
int_a = int(string_a)

string_b = input("입력 >")
int_b = int(string_b)

print()
print('문자열 자료 :',string_a+string_b) 
print('숫자 자료 :',int_a+int_b)

입력 >100
입력 >200

문자열 자료 : 100200
숫자 자료 : 300

In [47]:
output_a = int("52")
output_b = float("32.154")

print(type(output_a),output_a)
print(type(output_b),output_b)

<class 'int'> 52
<class 'float'> 32.154

In [49]:
input_a = float(input("입력"))
input_b = float(input("입력"))

print('덧셈결과 :',input_a+input_b)
print('뺄셈결과 :',input_a-input_b)
print('곱셈결과 :',input_a*input_b)
print('나눗셈셈결과 :',input_a/input_b)

입력200
입력100
덧셈결과 : 300.0
뺄셈결과 : 100.0
곱셈결과 : 20000.0
나눗셈셈결과 : 2.0

###page86

In [51]:
output_a = str(52)
output_b = str(32.12)

print(type(output_a),output_a)
print(type(output_b),output_b)

<class 'str'> 52
<class 'str'> 32.12

###page93

In [54]:
string_a = "{}".format(10)
print(type(string_a))

<class 'str'>

###page94

In [68]:
format_a = "{}만 원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {} 만들기".format(5000)
format_c = "{}만원과 {}만원을 합하면?".format(5000,3000)
format_d = "주사위 {},{},{} 나오면 지는거야".format(1,2,3)

print(type(format_a))
print()
print(type(format_b))
print()
print(type(format_c))
print()
print(type(format_d))

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

###page95

In [71]:
output_a = "{:d}".format(52)

output_b = "{:5d}".format(33)
output_c = "{:10d}".format(33)

output_d = "{:05d}".format(32)
output_e = "{:05d}".format(-32)

In [73]:
print("# 기본")
print(output_a)
print("# 특정 칸에 출력하기")
print(output_b)
print(output_c)
print("# 빈칸을 0으로 다 채우기")
print(output_d)
print(output_e)

# 기본
52
# 특정 칸에 출력하기
   33
        33
# 빈칸을 0으로 다 채우기
00032
-0032

###page96

In [74]:
output_f = "{:+d}".format(52)
output_g = "{:+d}".format(43)
output_h = "{: d}".format(32)
output_i = '{: d}'.format(21)

In [77]:
print(output_f)
print(output_g)
print(output_h)
print(output_i)

+52
+43
 32
 21

###page97

In [78]:
output_h = "{:+5d}".format(52)
output_i = "{:-5d}".format(-52)
output_j = "{:=+5d}".format(52)
output_k = "{:=-5d}".format(52)
output_l = "{:+05d}".format(52)
output_m = "{:+05d}".format(52)

print("# 조합하기")
print(output_h)
print(output_i)
print(output_j)
print(output_k)
print(output_l)
print(output_m)

# 조합하기
  +52
  -52
+  52
   52
+0052
+0052

###page98

In [81]:
output_a = '{:f}'.format(50.62)
output_b = '{:15f}'.format(52.62)
output_c = '{:+15f}'.format(52.62)
output_d = '{:+015f}'.format(52.62)

print(output_a)
print(output_b)
print(output_c)
print(output_d)

50.620000
      52.620000
     +52.620000
+0000052.620000

In [83]:
output_a = "{:15.3f}".format(52.62)
output_b = "{:15.2f}".format(52.62)
output_c = "{:15.1f}".format(52.62)

print(output_a)
print(output_b)
print(output_c)

         52.620
          52.62
           52.6

###page99

In [85]:
output_a = 52.0
output_b = "{:g}".format(output_a)
print(output_a)
print(output_b)

52.0
52

In [88]:
a = "Hello World"
print(a.upper())
print(a.lower())

HELLO WORLD
hello world

###page100

In [90]:
input_a = """
    안녕하세요
문자열 함수를 알아봅시다
"""
print(input_a)
print(input_a.strip())

    안녕하세요
문자열 함수를 알아봅시다

안녕하세요
문자열 함수를 알아봅시다

###page101

In [91]:
print("TrainA10".isalnum())

True

In [92]:
print("10".isdigit())

True

###page102

In [94]:
a = "10 20 30 40 50 60".split(" ")
print(a)

['10', '20', '30', '40', '50', '60']