<a href="https://colab.research.google.com/github/sweetcide/AI_study/blob/main/21kimchaerin_2%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_%EA%B9%80%EC%B1%84%EB%A6%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **<직접 해보는 손코딩>**

p.52

In [ ]:
print("이름\t나이\t지역")
print("윤인성\t25\t강서구")
print("윤아린\t24\t강서구")
print("구름\t3\t강서구")

이름	나이	지역
윤인성	25	강서구
윤아린	24	강서구
구름	3	강서구

p.57

In [ ]:
print("문자 선택 연산자에 대해 알아볼까요?")
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])

문자 선택 연산자에 대해 알아볼까요?
안
녕
하
세
요

p.58

In [ ]:
print("문자를 뒤에서부터 선택해 볼까요?") 
print("안녕하세요"[-1]) 
print("안녕하세요"[-2])
print("안녕하세요"[-3])
print("안녕하세요"[-4]) 
print("안녕하세요"[-5])

문자를 뒤에서부터 선택해 볼까요?
요
세
하
녕
안

+연산

In [ ]:
# 연산자

print("5+7 = ", 5+7)    # 더하기
print("7-5 = ", 7-5)    # 빼기
print("5*7 = ", 5*7)    # 곱하기
print("5/7 = ", 5/7)    # 나누기
print("5//7 = ", 5//7)  # 몫

5+7 =  12
7-5 =  2
5*7 =  35
5/7 =  0.7142857142857143
5//7 =  0

p.77

In [ ]:
# 변수 선언과 할당
pi = 3.14159265
r = 10

# 변수 참조
print("원주율 =", pi) 
print("반지름 =", r) 
print("원의 둘레 =", 2*pi*r) 
print("원의 넓이 =", pi*r*r)

원주율 = 3.14159265
반지름 = 10
원의 둘레 = 62.831853
원의 넓이 = 314.159265

p.82

In [ ]:
# 입력을 받습니다.
string = input("입력>")

# 출력합니다.
print("자료:", string)
print("자료형:", type(string))

입력>52273
자료: 52273
자료형: <class 'str'>

In [ ]:
# 입력을 받습니다.
string = input("입력>")

# 출력합니다.
print("자료:", string)
print("자료형:", type(string))

입력> True
자료:  True
자료형: <class 'str'>

p.83

In [ ]:
string_a = input("입력A> ")
int_a = int(string_a)

string_b = input("입력B> ")
int_b = int(string_b)

print("문자열 자료:", string_a + string_b)
print("숫자 자료:", int_a + int_b)

입력A>  273
입력B>  52
문자열 자료:  273 52
숫자 자료: 325

p.84

In [ ]:
output_a = int("52")
output_b = float("52.273")

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'int'> 52
<class 'float'> 52.273

p.84

In [ ]:
input_a = float(input("첫 번째 숫자> "))
input_b = float(input("두 번째 숫자> " ))

print("덧셈결과:", input_a + input_b)
print("뺄셈결과:", input_a - input_b)
print("곱셈결과:", input_a * input_b)
print("나눗셈결과:", input_a / input_b)

첫 번째 숫자>  273
두 번째 숫자>  52
덧셈결과: 325.0
뺄셈결과: 221.0
곱셈결과: 14196.0
나눗셈결과: 5.25

p.86

In [ ]:
output_a = str(52)
output_b = str(52.273)
print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'str'> 52
<class 'str'> 52.273

p.93

In [ ]:
# format() 함수로 숫자를 문자열로 변환하기 
string_a = "{}".format(10) 

#출력하기
print(string_a)
print(type(string_a))

10
<class 'str'>

p.94

In [ ]:
# format() 함수로 숫자를 문자열로 변환하기
format_a = "{}만 원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {}만 원 만들기 ".format(5000)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d = "{} {} {}".format(1, "문자열", True)

# 출력하기
print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만 원
파이썬 열공하여 첫 연봉 5000만 원 만들기
3000 4000 5000
1 문자열 True

p.95

In [ ]:
# 정수
output_a = "{:d}".format(52)

# 특정 칸에 출력하기
output_b = "{:5d}".format(52)   # 5칸
output_c = "{:10d}".format(52)    # 10칸

# 빈칸을 0으로 채우기
output_d = "{:05d}".format(52)    # 양수
output_e = "{:05d}".format(-52)   # 음수

print("# 기본")
print(output_a)
print("# 특정 칸에 출력하기")
print(output_b)
print(output_c)
print("# 빈칸을 0으로 채우기")
print(output_d)
print(output_e)

# 기본
52
# 특정 칸에 출력하기
   52
        52
# 빈칸을 0으로 채우기
00052
-0052

p.96

In [ ]:
# 기호와 함께 출력하기
output_f = "{:+d}".format(52)   # 양수
output_g = "{:+d}".format(-52)  # 음수
output_h = "{: d}".format(52)   # 양수 : 기호 부분 공백
output_i = "{: d}".format(-52)  # 음수 : 기호 부분 공백

print("# 기호와 함께 출력하기")
print(output_f)
print(output_g)
print(output_h)
print(output_i)

# 기호와 함께 출력하기
+52
-52
 52
-52

p.97

In [ ]:
# 조합하기
output_h = "{:+5d}".format(52)   # 기호를 뒤로 밀기 : 양수
output_i = "{:+5d}".format(-52)  # 기호를 뒤로 밀기 : 음수
output_j = "{:=+5d}".format(52)  # 기호를 앞으로 밀기 : 양수
output_k = "{:=+5d}".format(-52) # 기호를 앞으로 밀기 : 음수
output_l = "{:+05d}".format(52)  # 0으로 채우기 : 양수
output_m = "{:+05d}".format(-52) # 0으로 채우기 : 음수

print("# 조합하기")
print(output_h)
print(output_i)
print(output_j)
print(output_k)
print(output_l)
print(output_m)

# 조합하기
  +52
  -52
+  52
-  52
+0052
-0052

p.98

In [ ]:
output_a = "{:f}".format(52.273)
output_b = "{:15f}".format(52.273)  # 15칸 만들기
output_c = "{:+15f}".format(52.273) # 15칸에 부호 추가하기
output_d = "{:+015f}".format(52.273) # 15칸에 부호 추가하고 0으로 채우기

print(output_a)
print(output_b)
print(output_c)
print(output_d)

52.273000
      52.273000
     +52.273000
+0000052.273000

p.98

In [ ]:
output_a = "{:15.3f}".format(52.273)
output_b = "{:15.2f}".format(52.273)
output_c = "{:15.1f}".format(52.273)

print(output_a)
print(output_b)
print(output_c)

         52.273
          52.27
           52.3

p.99

In [ ]:
output_a = 52.0
output_b = "{:g}".format(output_a)
print(output_a)
print(output_b)

52.0
52

p.111

In [ ]:
x = 10
under_20 = x < 20
print("under_20:", under_20)
print("not under_20:", not under_20)

under_20: True
not under_20: False

p.116

In [ ]:
# 입력을 받습니다.
number = input("정수 입력> ")
number = int(number)

# 양수 조건
if number > 0:
   print("양수입니다")

# 음수 조건
if number < 0:
   print("음수입니다")

#0 조건
if number == 0:
   print("0입니다")

정수 입력>  273
양수입니다

p.117

In [ ]:
# 날짜/시간과 관련된 기능을 가져옵니다.
import datetime

# 현재 날짜/시간을 구합니다.
now = datetime.datetime.now() 

# 출력합니다.
print(now.year, "년")
print(now.month, "월")
print(now.day, "일")
print(now.hour, "시")
print(now.minute, "분")
print(now.second, "초")

2021 년
9 월
22 일
17 시
1 분
56 초

p.118

In [ ]:
# 날짜/시간과 관련된 기능을 가져옵니다.
import datetime

 #현재 날짜/시간을 구합니다.
 now = datetime.datetime.now()

 #출력합니다.
 print("{}년 {}월 {}일 {}시 {}분 {}초".format(
     now.year,
     now.month,
     now.day,
     now.hour,
     now.minute,
     now.second
     ))

IndentationError: ignored

p.119

In [ ]:
#날짜/시간과 관련된 기능을 가져옵니다.
import datetime

#현재 날짜/시간을 구합니다.
now = datetime.datetime.now()

#오전 구분
if now.hour < 12:
  print("현재 시각은 {}시로 오전입니다!".format(now.hour))

#오후 구분
if now.hour >= 12:
  print("현재 시각은 {}시로 오후입니다!".format(now.hour))

현재 시각은 17시로 오후입니다!

p.119

In [ ]:
# 날짜/시간과 관련된 기능을 가져옵니다.
import datetime

# 현재 날짜/시간을 구합니다.
now = datetime.datetime.now()

# 봄 구분
if 3 <= now.month <=5:
    print("이번 달은 {}월로 봄입니다!". format(now.month))

# 여름 구분
if 6 <= now.month <=8:
     print("이번 달은 {}월로 여름입니다!". format(now.month))

# 가을 구분
if 9 <= now.month <=11:
     print("이번 달은 {}월로 가을입니다!". format(now.month))

# 겨울 구분
if 12 <= now.month <=2:
     print("이번 달은 {}월로 겨울입니다!". format(now.month))

이번 달은 9월로 가을입니다!

p.121

In [ ]:
# 입력을 받습니다.
number = input("정수 입력> ")

# 마지막 자리 숫자를 추출
last_character = number[-1]

# 숫자로 변환하기
last_number = int(last_character)

# 짝수 확인
if last_number == 0 \
    or last_number == 2 \
    or last_number == 4 \
    or last_number == 6 \
    or last_number == 8 :
    print("짝수입니다")

# 홀수 확인
if last_number == 1 \
    or last_number == 3 \
    or last_number == 5 \
    or last_number == 7 \
    or last_number == 9 :
    print("홀수입니다")

정수 입력>  52
짝수입니다

p.122

In [ ]:
# 입력을 받습니다.
number = input("정수 입력> ")
last_character = number[-1]

# 짝수 조건
if last_character in "02468":
    print("짝수입니다")

# 홀수 조건
if last_character in "13579":
    print("홀수입니다")

정수 입력>  52
짝수입니다

p.123

In [ ]:
# 입력을 받습니다.
number = input("정수 입력> ")
number = int(number)

# 짝수 조건 
if number % 2 == 0:
    print("짝수입니다")

# 홀수 조건
if number % 2 == 1:
    print("홀수입니다")

정수 입력>  52
짝수입니다

p.127

In [ ]:
# 입력을 받습니다.
number = input("정수 입력> ")
number = int(number)

# 조건문을 사용합니다.
if number % 2 == 0:
    # 조건이 참일 때, 즉 짝수 조건
    print("짝수입니다")
else:
    # 조건이 거짓일 때, 즉 홀수 조건
    print("홀수입니다")

정수 입력>  13
홀수입니다

p.128

In [ ]:
# 날짜/시간과 관련된 기능을 가져옵니다.

import datetime

# 현재 날짜/시간을 구하고
# 쉽게 사용할 수 있게 월을 변수에 저장합니다.
now = datetime.datetime.now()
month = now.month

# 조건문으로 계절을 확인합니다.
if 3 <= month <= 5:
      print("현재는 봄입니다.")
elif 6 <= month <= 8:
      print("현재는 여름입니다.")
elif 9 <= month <= 11:
      print("현재는 가을입니다.")
else:
      print("현재는 겨울입니다.")

현재는 가을입니다.

p.130

In [ ]:
score = float(input("학점 입력> "))

if score == 4.5:
  print("신")
elif 4.2 <= score < 4.5:
  print("교수님의 사랑")
elif 3.5 <= score < 4.2:
  print("현 체제의 수호자")
elif 2.8 <= score < 3.5:
  print("일반인")
elif 2.3 <= score < 2.8:
  print("일탈을 꿈꾸는 소시민")
elif 1.75 <= score < 2.3:
  print("오락문화의 선구자")
elif 1.0 <= score < 1.75:
  print("불가촉천민")
elif 0.5 <= score < 1.0:
  print("자벌레")
elif 0 < score < 0.5:
  print("플랑크톤")
elif score == 0:
  print("시대를 앞서가는 혁명의 씨앗")

학점 입력> 0
시대를 앞서가는 혁명의 씨앗

p.131

In [ ]:
score = float(input("학점입력> "))

if score == 4.5:
  print("신")
elif 4.2 <= score:
  print("교수님의 사랑")
elif 3.5 <= score:
  print("현 체제의 수호자")
elif 2.8 <= score:
  print("일반인")
elif 2.3 <= score:
  print("일탈을 꿈꾸는 소시민")
elif 1.75 <= score:
  print("오락문화의 선구자")
elif 1.0 <= score:
  print("불가축천민")
elif 0.5 <= score:
  print("자벌레")
elif 0 < score:
  print("플랑크톤")
else:
  print("시대를 앞서가는 혁명의 씨앗")

학점입력> 0
시대를 앞서가는 혁명의 씨앗

p.132

In [ ]:
print("# if 조건문에 0 넣기")
if 0:
  print("0은 True로 변환됩니다")
else:
  print("0은 False로 변환됩니다")
print()

print("# if 조건문에 빈 문자열 넣기")
if "":
  print("빈 문자열은 True로 변환됩니다")
else:
  print("빈 문자열은 False로 변환됩니다")

# if 조건문에 0 넣기
0은 False로 변환됩니다

# if 조건문에 빈 문자열 넣기
빈 문자열은 False로 변환됩니다

p.133

In [ ]:
#입력을 받습니다.
number = input("정수 입력> ")
number = int(number)

#조건문 사용
if number > 0:
    # 양수일 때: 아직 미구현 상태입니다.
else:
     # 음수일 때: 아직 미구현 상태입니다.

IndentationError: ignored

p.134

In [ ]:
number = input("정수 입력> ")
number = int(number)

if number > 0:
    # 양수일 때: 아직 미구현 상태입니다
    pass
else:
    # 음수일 때: 아직 미구현 상태입니다
    pass

정수 입력>  3